* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
  background: rgb(82, 82, 82);
  background: linear-gradient(
    90deg,
    rgba(82, 82, 82, 1) 0%,
    rgba(177, 177, 177, 1) 52%,
    rgba(82, 82, 82, 1) 100%
  );
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
